# Postgres database settings
DATABASE_URL=postgresql://user:pass@localhost:5432/uwpathr_dev

# Django settings
DJANGO_SECRET_KEY=  # Optional in development. Random key will be generated if not set.
DEBUG=True
DEVELOPMENT_MODE=True
DOMAIN=http://localhost:3000

# Cookie settings
AUTH_COOKIE_SECURE=False
CSRF_COOKIE_SECURE=False
CSRF_TRUSTED_ORIGINS=http://localhost:3000
SESSION_COOKIE_SECURE=False

# AWS SES settings
# Required if AWS_SES_ENABLED is True
AWS_SES_ENABLED=False
AWS_SES_ACCESS_KEY_ID=
AWS_SES_SECRET_ACCESS_KEY=
AWS_SES_REGION_NAME=
AWS_SES_FROM_EMAIL=

# Google OAuth2 settings
# Required if OAUTH2_ENABLED is True
OAUTH2_ENABLED=False
REDIRECT_URLS=
GOOGLE_AUTH_KEY=
GOOGLE_AUTH_SECRET_KEY=

# Turnstile settings
# Required if CAPTCHA_ENABLED is True
CAPTCHA_ENABLED=False
TURNSTILE_SECRET_KEY= 
TURNSTILE_VERIFY_TIMEOUT= 
TURNSTILE_REPLAY_CACHE_SECONDS=
