# Postgres database settings
DB_NAME='uwpathr_dev'
DB_USER='username'
DB_PASSWORD='password'
DB_HOST='localhost'
DB_PORT='5432'

# Django settings
DJANGO_SECRET_KEY='secret-key'
DEBUG='True'
DEVELOPMENT_MODE='True'
DOMAIN='http://localhost:3000'

# Cookie settings
AUTH_COOKIE_SECURE='False'
CSRF_COOKIE_SECURE='False'
SESSION_COOKIE_SECURE='False'

# AWS SES settings
AWS_SES_ACCESS_KEY_ID='secret-access-key-id'
AWS_SES_SECRET_ACCESS_KEY='secret-access-key'
AWS_SES_REGION_NAME='region-name'
AWS_SES_FROM_EMAIL='info@uwpathr.rocks'

# Google OAuth2 settings
REDIRECT_URLS='http://localhost:3000/auth/google'
GOOGLE_AUTH_KEY='google-auth-key'
GOOGLE_AUTH_SECRET_KEY='google-auth-secret-key'

# Turnstile settings
TURNSTILE_SECRET_KEY='turnstile-secret-key'